[Unit]
Description=Cynara service
Requires=afm-system-setup.service
After=afm-system-setup.service

[Service]
ExecStart=/usr/bin/cynarad --systemd --user cynara --group cynara --make-db-dir --own-db-dir

Type=notify

KillMode=process
TimeoutStopSec=3
Restart=always

Sockets=cynara-admin.socket
Sockets=cynara-check.socket
SmackProcessLabel=System

#UMask=0000
#User=cynara
#Group=cynara
#NoNewPrivileges=true

#Environment="CYNARA_LOG_LEVEL=LOG_DEBUG"
#Environment="CYNARA_AUDIT_LEVEL=ALL"

[Install]
WantedBy=multi-user.target
